/* import './css/card-index.css' */

.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .cardImg{
  width: 200px;
  max-width: 60%;
  height: auto;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
}

.card .cardTitle{
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* margin: 0; */
  color:hsl(0, 0%, 20%);
}

.card .cardText{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:hsl(0, 0%, 30%)
}